
.form-main{
  background-color: bisque;
}
form{
  background-color: rgb(228, 212, 176);
  padding: 1em;
  min-width: fit-content;


 
}
.form-select,
input[type="data"],
input[type="number"],
input[type="email"],
input[type="file"],
input[type="text"]{
  display : block;
  width: 100%;
  min-width:100px;
  
  padding: 8px ;
  box-sizing: border-box;
  border:1px solid #a00c0c;
  border-radius: 12px;
  font-size:14px;
  font-weight: 700;
  line-height: 1.42857143;
  color:rgb(171, 17, 17);

}
input[type='radio']{
  display: inline-flex;
  width: 10%;
}

textarea{
  resize: none;
  width: 98%;
  min-height: 100px;
  max-height: 150px;

}

label{
  display: block;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color : var(--var-form-label);
  font-weight: bold;
  
}


.form-errors{
  color :var(--var-bloodyred)
}
.form-group{
  
  
  
}
