#root{
  background-color: rgb(54, 54, 54);
  display :flex;
  flex-direction: column  ;
  
  min-height: 100vh;

}


.nav-split{
  display:flex;
}
/* .navbar-brand img{
  width: 25px;
} */
.bg-light-dark{
  background-color: var(--var-background);


}
.nav-loggedin{
  display:flex;
  justify-content: space-between;
  
}
.navbar{
  
  background-color: rgba(42, 25, 173, 0.313);
  max-height :fit-content;
  padding :1px 2rem;
}
body{
  min-width: fit-content;
}

.container {
  flex: 1;
  background-color: rgb(227, 230, 231);
  border-radius: 10px;

  


}
.container-1{
  
  background-color: rgb(134, 202, 95);
  padding-top:1rem;
}  
.container-2{
  flex:1;
  padding : 2rem;
  background-color: rgb(178, 173, 167);
  color : blue;
}
.container.container-1{
  color : black;
}

h3.text-light.text-center.form-title {
color: brown !important;
  

}
.group-button{
  background-color: #ee8383;
  display : flex;
}
.main-body{
  background-color: rgb(207, 217, 190);
  margin :.5em 1em; 
  padding:1em 1em;
  flex:1;
}
.img-books{
  width:10rem;
}
.card{
  /* width:30px; */
  margin: 10px 10px;
  padding : 1rem 1rem;
  background-color: antiquewhite;
}
.card-body{
  display : block;
  justify-content: center;

}
.card-image-area{
  display : block;
  background-color: lightpink;

}
.card-img img{
  width: 10rem;
}


.card-details{
  display : block;
  text-align : left;

}


.menu-option{
  background-color: #ffe4c4;

}
.data-list{
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:1rem;
  background-color: rgb(173, 122, 20);
 

}
.data-list2{
  /* margin:2em ; */
  padding :1em;
  background-color: rgb(219, 129, 20);
  overflow: auto;
}


.Btn{
  padding : 3px 10px;

  margin : 0px 2px;
  border-radius: 5px;
  cursor : pointer  ;
  
}
.Btn:hover{
  /* opacity : 0.8; */
  background-color: rgb(5, 55, 14);
  color : rgb(254, 254, 249)
} 
.readBtn{
  background-color: rgb(14, 98, 208);
}
.editBtn{
  background-color: rgb(46, 208, 14);
}
.deleteBtn{
  background-color: rgb(222, 83, 48);
}
.searchBtn{
  padding : 5px 15px;
  border-color: none;
  margin : 0px 2px;
  border-radius: 5px;
  cursor : pointer  ;
  color: white;
  background-color: rgb(14, 98, 208);
}

/* responsive table */


.search-datatable{
  display : flex;
  justify-content: right;
  margin-bottom : 1rem;

}
/* modal */
.modal-dialog{
  background-color: rgba(243, 238, 235, 0.414);
  padding : 1em 1em;
  
}

/* used in dashboard */
.dash-area-1{
margin : 10px 10px;
background-color: aquamarine;
padding : 10px 10px;
}

.dash-area-2{
margin : 10px 10px
}




span{
  font-size: 14px;
  color: var(--var-bloodyred);
  margin-top:0px;
}
.cl-action{
  display:block;
  width: fit-content;
}

/* divisions */
.form-area {
  background-color: #ee8383;

} 
.entry-area{
  background-color: aquamarine;

}
