
/* https://www.youtube.com/watch?v=Ay8BXbAmEYM */
/* table css by coding design */

.my-table{
    /* background-color: rgb(60, 87, 87); */

    margin :1em 1em;        
    display: flex;
    justify-content:center;
    align-items: center;
    background: url('./../../../public/images/wallpaper02.jpg') center/cover;    
    
}


td img{
width:36px;
height: 36px;
margin-right: .5rem;
border-radius:50%;
vertical-align: middle;
}

main.table{
    width:82vw;
    height: 60vh;
    background-color: rgba(223, 209, 100, 0.535);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #4366d0cd;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    

}

.table__header{
     /* employee list */
    width: 100%;
    height : 10%;
    background-color: rgba(250, 235, 215, 0.581);
    padding : .8rem 1rem;
}
.table__body{
    width : 95%;
    max-height : calc(89% - 1.6rem);
    background-color: rgba(0, 0, 255, 0.236) ;
    margin : .8rem auto;
    border-radius: .6rem;
    overflow: auto;


}
.table__body::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;


            
}
.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: rgba(45, 33, 2, 0.797);
    visibility: hidden;
    


}
.table__body:hover::-webkit-scrollbar-thumb{
visibility: visible;

}

table{
    width: 100%;
}
table,th,td{
    padding : 1rem;
    border-collapse: collapse;
    text-align: left;
}
thead th{

    position: sticky;
    top:0;
    /* left:0; */
    background-color: rgba(8, 129, 10, 0.932);
    color : rgb(70, 11, 11);
}

tbody tr:nth-child(odd){
    background-color: rgba(224, 218, 170, 0.486) !important;
}

tbody tr:hover{
    background-color: rgba(17, 37, 37, 0.336) !important;
}


@media (max-width:1000px) {
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
    
}
