*{
  box-sizing: border-box;
  margin:0;
  padding : 0;

  box-sizing : border-box;
  font-family: 'PT Sans',sans-serif ;
  --primary : rgb(13, 13, 243);
  --var-background : #6684e8;
  --var-bloodyred:rgb(251, 9, 9);
  --var-form-background:rgb(206, 215, 221);
  --var-form-label: rgb(21, 8, 57);

  --flex-color-t: rgb(160, 233, 197) ;
  --flex-color:green;

  --flex-containter-background : rgb(103, 103, 247);

  --grid-containter-background : rgb(212, 155, 132);
  
}
